<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>Review Sản Phẩm</title>
</head>
<body style="height: 100%;">
    <div class="cta">
        <h1>REVIEW XAM</h1>
        <a href="/products"><button>GO --&gt;</button></a>
    </div>
</body>
</html>